{% extends "base.html" %} {% block page_content %} {% load static %}
<!DOCTYPE html>
<html lang="en">
  <link rel="stylesheet" href="{% static 'index.css' %}" />
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial scale=1.0" />

    <title>Question Generator</title>

    <script>
        function CopyToClipboard(id) {
            var r = document.createRange();
            r.selectNode(document.getElementById(id));
            window.getSelection().removeAllRanges();
            window.getSelection().addRange(r);
            document.execCommand('copy');
            window.getSelection().removeAllRanges
        }
    </script>
  </head>

  <body>
    <h1>You can generate probability questions with answers below.</h1>
    {% if generated != True %}
    <h3>
      Click the "Generate" button below to generate questions if this is your
      first time using the system.
    </h3>
    <p>Generates 292 questions per button click.</p>
    <a href="http://localhost:8000/generate">
      <button class="button" id="genButton">Generate</button>
    </a>
    {% else %}
    <p>New questions generated!</p>
    {% endif %}
    <br />
    {% if data.dbClear == True %}
    <p>Database cleared</p>
    {% else %}
    <h4>
      If you want to start over you may clear the database and generate new
      questions
    </h4>
    <a href="http://localhost:8000/clearDatabase" target="_self">
      <button class="button" id="clearDb">Delete all questions in DB</button>
    </a>
    {% endif %} {% if data.firstTime != True %}
    <br />
    <form class="inputs" action="/returnQuestions/">
      <label><strong>How many questions would you like to retrieve</strong></label>
      <br />
      <label>Maximum level of difficulty 1-6 (1 easy, 6 hard)</label>
      <input type="number" name="difficulty" id="numQs" min="1" max="6" value ="1" oninput="validity.valid||(value='');"/>
      <br />
      <label>Number of questions to return between 1 and 200</label>
      <input type="number" name="numQuestions" id="numQs" min="1" max="200" value ="1" oninput="validity.valid||(value='');"/>
      <input class="button" type="submit" value="Get Questions" />
    </form>
    <br />
    <h4>View a single random question with answer</h4>
    <a href="http://localhost:8000/singleQuestion" target="_self">
      <button class="button" id="View Single Question">View question</button>
    </a>
    {% else %}
    <h2>You must generate questions to begin</h2>
    {% endif %} {% if data.singleQuestion == True %}

    <div id="singleQBox">
        <p>Question Type: {{ data.question.name }}</p>
        <p>Question Difficulty: {{ data.question.difficulty }}</p>
        <p>Question Text:</p>
        <div class="questionTextCopyBlock">
            <a href-="#" onclick="CopyToClipboard('questionText'); return false">
                <button class="button">Copy Question Text</button>
            </a>
            <p id="questionText">{{ data.question.question }}</p>
        </div>
        <p>Answer:</p>
        <div class="questionTextCopyBlock">
            <a href-="#" onclick="CopyToClipboard('answer'); return false">
                <button class="button">Copy Answer</button>
            </a>
            <p id="answer">{{ data.question.answer }}</p>
        </div>
    </div>

    {% endif %}
  </body>
</html>
{% endblock %}
